TravelGood/src/localhost_8080/HotelWebService/NiceViewService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://niceview.ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://niceview.ws" name="NiceViewService">
<types>
<xsd:schema>
<xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/HotelWebService/NiceViewService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://niceview.ws" schemaLocation="http://localhost:8080/HotelWebService/NiceViewService?xsd=2"/>
</xsd:schema>
</types>
<message name="getHotels">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="getHotelsResponse">
<part name="return" type="tns:hotelBookingList"/>
</message>
<message name="bookHotel">
<part name="arg0" type="xsd:string"/>
<part xmlns:ns1="urn://types.fastmoney.imm.dtu.dk" name="arg1" type="ns1:creditCardInfoType"/>
</message>
<message name="bookHotelResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="HotelFault">
<part name="fault" element="tns:HotelFault"/>
</message>
<message name="cancelHotel">
<part name="arg0" type="xsd:string"/>
</message>
<message name="cancelHotelResponse">
<part name="return" type="xsd:boolean"/>
</message>
<portType name="NiceViewService">
<operation name="getHotels" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://niceview.ws/NiceViewService/getHotelsRequest" message="tns:getHotels"/>
<output wsam:Action="http://niceview.ws/NiceViewService/getHotelsResponse" message="tns:getHotelsResponse"/>
</operation>
<operation name="bookHotel" parameterOrder="arg0 arg1">
<input wsam:Action="http://niceview.ws/NiceViewService/bookHotelRequest" message="tns:bookHotel"/>
<output wsam:Action="http://niceview.ws/NiceViewService/bookHotelResponse" message="tns:bookHotelResponse"/>
<fault message="tns:HotelFault" name="HotelFault" wsam:Action="http://niceview.ws/NiceViewService/bookHotel/Fault/HotelFault"/>
</operation>
<operation name="cancelHotel">
<input wsam:Action="http://niceview.ws/NiceViewService/cancelHotelRequest" message="tns:cancelHotel"/>
<output wsam:Action="http://niceview.ws/NiceViewService/cancelHotelResponse" message="tns:cancelHotelResponse"/>
<fault message="tns:HotelFault" name="HotelFault" wsam:Action="http://niceview.ws/NiceViewService/cancelHotel/Fault/HotelFault"/>
</operation>
</portType>
<binding name="NiceViewServicePortBinding" type="tns:NiceViewService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getHotels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://niceview.ws"/>
</input>
<output>
<soap:body use="literal" namespace="http://niceview.ws"/>
</output>
</operation>
<operation name="bookHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://niceview.ws"/>
</input>
<output>
<soap:body use="literal" namespace="http://niceview.ws"/>
</output>
<fault name="HotelFault">
<soap:fault name="HotelFault" use="literal"/>
</fault>
</operation>
<operation name="cancelHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://niceview.ws"/>
</input>
<output>
<soap:body use="literal" namespace="http://niceview.ws"/>
</output>
<fault name="HotelFault">
<soap:fault name="HotelFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="NiceViewService">
<port name="NiceViewServicePort" binding="tns:NiceViewServicePortBinding">
<soap:address location="http://localhost:8080/HotelWebService/NiceViewService"/>
</port>
</service>
</definitions>