TravelGood/nbproject/private/retriever/localhost_8080/HotelWebService/NiceViewService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xs:schema xmlns:tns="http://niceview.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://niceview.ws">

<xs:element name="HotelFault" type="tns:HotelFault"/>

<xs:element name="hotel" type="tns:hotel"/>

<xs:element name="hotelBooking" type="tns:hotelBooking"/>

<xs:element name="hotelBookingList" type="tns:hotelBookingList"/>

<xs:complexType name="hotelBookingList">
<xs:sequence>
<xs:element name="count" type="xs:int"/>
<xs:element name="hotels" type="tns:hotelBooking" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotelBooking">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:string" minOccurs="0"/>
<xs:element ref="tns:hotel" minOccurs="0"/>
<xs:element name="hotelService" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hotel">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="availableFrom" type="xs:anySimpleType" minOccurs="0"/>
<xs:element name="availableTo" type="xs:anySimpleType" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="creditcardRequired" type="xs:boolean"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="HotelFault">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>