LameDuckTestClient/src/META-INF/wsdl/localhost_8080/LameDuck/LameDuckService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><xs:schema xmlns:tns="http://lameduck.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://lameduck.ws">

<xs:element name="flight" type="tns:flight"/>

<xs:element name="flightBooking" type="tns:flightBooking"/>

<xs:element name="flightBookingList" type="tns:flightBookingList"/>

<xs:complexType name="flightBookingList">
<xs:sequence>
<xs:element name="count" type="xs:int"/>
<xs:element name="flightBookings" type="tns:flightBooking" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightBooking">
<xs:sequence>
<xs:element name="airline" type="xs:string" minOccurs="0"/>
<xs:element name="bookingNumber" type="xs:string" minOccurs="0"/>
<xs:element ref="tns:flight" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flight">
<xs:sequence>
<xs:element name="carrier" type="xs:string" minOccurs="0"/>
<xs:element name="destinationAirport" type="xs:string" minOccurs="0"/>
<xs:element name="landingDate" type="xs:anySimpleType" minOccurs="0"/>
<xs:element name="liftOffDate" type="xs:anySimpleType" minOccurs="0"/>
<xs:element name="startAirport" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>