TravelGoodApp/src/jbiServiceUnits/TravelGood/localhost_8080/LameDuck/LameDuckService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lameduck.ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lameduck.ws" name="LameDuckService">
<types>
<xsd:schema>
<xsd:import namespace="urn://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/LameDuck/LameDuckService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://lameduck.ws" schemaLocation="http://localhost:8080/LameDuck/LameDuckService?xsd=2"/>
</xsd:schema>
</types>
<message name="cancelFlight">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:int"/>
<part xmlns:ns1="urn://types.fastmoney.imm.dtu.dk" name="arg2" type="ns1:creditCardInfoType"/>
</message>
<message name="cancelFlightResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="CreditCardFaultMessage">
<part xmlns:ns2="urn://types.fastmoney.imm.dtu.dk" name="fault" element="ns2:CreditCardFault"/>
</message>
<message name="bookFlight">
<part name="arg0" type="xsd:string"/>
<part xmlns:ns3="urn://types.fastmoney.imm.dtu.dk" name="arg1" type="ns3:creditCardInfoType"/>
</message>
<message name="bookFlightResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="getFlights">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="getFlightsResponse">
<part name="return" type="tns:flightBookingList"/>
</message>
<portType name="LameDuckService">
<operation name="cancelFlight" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://lameduck.ws/LameDuckService/cancelFlightRequest" message="tns:cancelFlight"/>
<output wsam:Action="http://lameduck.ws/LameDuckService/cancelFlightResponse" message="tns:cancelFlightResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://lameduck.ws/LameDuckService/cancelFlight/Fault/CreditCardFaultMessage"/>
</operation>
<operation name="bookFlight" parameterOrder="arg0 arg1">
<input wsam:Action="http://lameduck.ws/LameDuckService/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://lameduck.ws/LameDuckService/bookFlightResponse" message="tns:bookFlightResponse"/>
<fault message="tns:CreditCardFaultMessage" name="CreditCardFaultMessage" wsam:Action="http://lameduck.ws/LameDuckService/bookFlight/Fault/CreditCardFaultMessage"/>
</operation>
<operation name="getFlights" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://lameduck.ws/LameDuckService/getFlightsRequest" message="tns:getFlights"/>
<output wsam:Action="http://lameduck.ws/LameDuckService/getFlightsResponse" message="tns:getFlightsResponse"/>
</operation>
</portType>
<binding name="LameDuckServicePortBinding" type="tns:LameDuckService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="cancelFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://lameduck.ws"/>
</input>
<output>
<soap:body use="literal" namespace="http://lameduck.ws"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
</operation>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://lameduck.ws"/>
</input>
<output>
<soap:body use="literal" namespace="http://lameduck.ws"/>
</output>
<fault name="CreditCardFaultMessage">
<soap:fault name="CreditCardFaultMessage" use="literal"/>
</fault>
</operation>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://lameduck.ws"/>
</input>
<output>
<soap:body use="literal" namespace="http://lameduck.ws"/>
</output>
</operation>
</binding>
<service name="LameDuckService">
<port name="LameDuckServicePort" binding="tns:LameDuckServicePortBinding">
<soap:address location="http://localhost:8080/LameDuck/LameDuckService"/>
</port>
</service>
</definitions>